---

let gif = 'https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExOHJ2eHY3aTZ2eDFwdnV4amN1ZTZ1Z3R4bnlmdWxlb2p4dmN3dDRuZCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/VxbvpfaTTo3le/giphy.gif'
---


 <div
    class="relative w-full min-h-[100dvh] overflow-y-auto flex flex-col items-center justify-between p-4 bg-cover bg-center select-none pb-safe pt-safe"
    style={`background-image: url(${gif})`}
  >
  
  <slot/>

  </div>