---
import Application from '@/layouts/Application.astro'
import FrutigerScenes from '@/components/FlipBook/FrutigerScenes'
import { APP_CONFIG } from '@/config'
import BackButton from '@/components/Navigator/BackButton'
---

<Application title="For Janell" subTitle=" | Gift 2026">
  <div class="relative w-full h-screen overflow-hidden flex flex-col justify-between pb-safe pt-safe">
    {/* Floating Back to Vault button (solid, type-safe) */}
    <BackButton client:load to="/gifts" label="Gift Vault" emoji="🎁" />
    
    <div class="flex-1 w-full relative">
      <FrutigerScenes client:load {...APP_CONFIG} />
    </div>
  </div>
</Application>
